<mat-card *ngIf="isEdit===false">
  <mat-card-header>
    <mat-card-title>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [disabled]="showFormAdd===true" color="primary" (click)='showForm()'>
          <mat-icon>add</mat-icon>
          <span>Ajouter une inscription</span>
        </button>
      </mat-menu>
      Liste des inscriptions
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxFlex="100">
      <!-- Formulaire ajout -->
      <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayout.sm="column">
        <div fxFlex="100">
          <mat-card *ngIf="showFormAdd">
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmitForm()">
              <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayout.sm="column">
                <mat-form-field fxFlex="100">
                  <input type="text" matInput placeholder="Année scolaire"  readonly value="{{ data.schoolyear.label}}" formControlName="schoolyearId">
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayout.sm="column">
                <mat-form-field fxFlex="100">
                  <mat-label>Classe</mat-label>
                  <mat-select formControlName="classroomId">
                    <mat-option *ngFor="let classroom of data.classrooms" [value]="classroom.id">
                      {{classroom.label}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayout.sm="column">
                <mat-form-field fxFlex="100">
                  <mat-label>Vacation</mat-label>
                  <mat-select formControlName="sessionId">
                    <mat-option *ngFor="let session of data.sessions" [value]="session.id">
                      {{session.label}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign.xs="center center" fxLayout.xs="column"
                   fxLayoutAlign="start center">
                <div fxFlex="100">
                  <button mat-raised-button [disabled]="registrationForm.invalid" color="success">
                    <mat-icon>add</mat-icon>
                    Enregistrer
                  </button>
                </div>
              </div>
            </form>
          </mat-card>
        </div>
      </div>
      <!-- Liste -->
      <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayout.sm="column">
        <div fxFlex="100">
          <div class="table-container mat-elevation-z8 mt">
            <table fxFlex="100" mat-table [dataSource]="registrations" matSort>
              <ng-container matColumnDef="registrationNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Numéro d'enregistrement</th>
                <td mat-cell *matCellDef="let element"> {{ element.registrationNumber }} </td>
              </ng-container>
              <ng-container matColumnDef="schoolYear">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Année scolaire</th>
                <td mat-cell *matCellDef="let element"> {{ translateSchoolyear(element.schoolYear) }} </td>
              </ng-container>
              <ng-container matColumnDef="classroom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Classe</th>
                <td mat-cell *matCellDef="let element"> {{ translateClassroom(element.classroom) }} </td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Statut</th>
                <td mat-cell *matCellDef="let element"> {{ translateStatus(element.status) }} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
