.progesco-tree-invisible {
  display: none;
}

.progesco-tree ul,
.progesco-tree li {
  background-color: #212121;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;

}

a.mat-list-item {
  color: #e0f7fa;
}
