<!-- Liste -->
<mat-card *ngIf="isEdit===false">
  <mat-card-header>
    <mat-card-title>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [disabled]="showFormAdd===true" color="primary" (click)='showForm()'>
          <mat-icon>add</mat-icon>
          <span>Ajouter un niveau</span>
        </button>
      </mat-menu>
      Liste des niveaux
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-sm-12 mb-2">
        <mat-card *ngIf="showFormAdd">
          <form [formGroup]="levelForm" (ngSubmit)="onSubmitForm()" class="">
            <div class="row">
              <mat-form-field class="col-sm-12 col-md-6">
                <input matInput placeholder="Libellé *" value="" formControlName="label">
              </mat-form-field>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <button mat-raised-button [disabled]="levelForm.invalid" color="primary">
                  <mat-icon>done</mat-icon> Enregistrer
                </button>
              </div>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="table-container mat-elevation-z8 mt">
          <table fxFlex="100" mat-table [dataSource]="levels" matSort>
            <ng-container matColumnDef="label">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Libellé</th>
              <td mat-cell *matCellDef="let element"> {{ element.label }} </td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item color="primary" (click)='editLevel(element.id)'>
                    <mat-icon>edit</mat-icon>
                    <span>Modifier</span>
                  </button>
                  <button mat-menu-item color="warn" (click)='deleteLevel(element.id)'>
                    <mat-icon>delete</mat-icon>
                    <span>Supprimer</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<!-- Formulaire de modification -->
<mat-card *ngIf="isEdit===true">
  <mat-card-header>
    <mat-card-title>
      Formulaire de modification
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-sm-12 mb-2">
        <mat-card>
          <form [formGroup]="levelFormEdit" (ngSubmit)="onSubmitFormEdit()" class="">
            <div class="row">
              <mat-form-field class="col-sm-12 col-md-6">
                <input matInput placeholder="Libellé *" value="" formControlName="label">
              </mat-form-field>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <button mat-raised-button [disabled]="levelFormEdit.invalid" color="primary">
                  <mat-icon>done</mat-icon> Enregistrer
                </button>
              </div>
              <div class="col-sm-12 col-md-6">
                <button mat-raised-button color="warn" (click)="isEdit=false">
                  <mat-icon>delete</mat-icon> Supprimer
                </button>
              </div>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>
